[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pyxform = "*"
django-bootstrap5 = "*"
django-braces = "*"
psycopg2 = "*"
django-digest = {editable = true, ref = "52ba7edeb326efd97d5670273bb6fa8b0539e501", git = "https://github.com/dimagi/django-digest"}

[dev-packages]
