[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pyxform = "*"
xlsconv = "*"
django-bootstrap5 = "*"
django-braces = "*"
psycopg2-binary = "*"
pillow = "*"
lxml = "*"
django-odk = {editable = true, path = "."}

[dev-packages]
pylint-django = "*"
pycodestyle = "*"
